<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522407512566-v1bs3gv6iv9q72t1v5h0qcgrgdkjgr98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522407512566-v1bs3gv6iv9q72t1v5h0qcgrgdkjgr98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522407512566-5bgfm54qvrlln5k3tb5ft57haf6d2852.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiM5FhvBS87faxXohk0PvPWeNC8wLAXOA</string>
	<key>GCM_SENDER_ID</key>
	<string>522407512566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vn.vietagri</string>
	<key>PROJECT_ID</key>
	<string>vietagri</string>
	<key>STORAGE_BUCKET</key>
	<string>vietagri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522407512566:ios:8cafdfa3f3d24957b9dfd7</string>
	<key>DATABASE_URL</key>
	<string>https://vietagri.firebaseio.com</string>
</dict>
</plist>